body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

a:link, a:visited {
  color: #0074D9;
  text-decoration: none;
  padding-bottom: 5px;
  padding-top: 5px;
}

a:hover {
  background-color: #fde100;
  border-radius: 3px;
  text-decoration: none;
}

.container {
  margin: 40px;
}

.columns {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.columns > div {
	width: 50%;
	padding: 10px;
}

.columns > div:first-child {
	margin-right: 20px;
}


.sample {
  font-weight: normal;
}

input {
  margin-bottom: 6px;
  font-size: 16px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

input[type=number] {
  width: 40px;
  margin-right: 6px;
}

.output {
  position: relative;
}

.overlap-font {
  position: absolute;
  top: 0;
  left: 0;
}

footer {
  margin-top: 50px;
  padding-top: 8px;
  border-top: 2px solid #fde100;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  padding-right: 6px;
}

hr {
  background: red;
}
