body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
/*
div {
  border: 1px solid red;
}*/

.container {
  margin: 40px;
}

.sample {
  font-weight: normal;
}

.settings {
  margin-bottom: 20px;
}

input.font-size {
  width: 40px;
  margin-right: 6px;
}
