body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

a:link, a:visited {
  color: #0074D9;
  text-decoration: none;
  padding-bottom: 5px;
  padding-top: 5px;
}

a:hover {
  background-color: #fde100;
  border-radius: 3px;
  text-decoration: none;
}

.container {
  margin: 40px;
}

.columns {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.columns > div {
	width: 50%;
}

.columns > div:first-child {
	margin-right: 20px;
}

@media (max-width: 500px) {
  .columns {
    display: block;
  }

  .columns > div {
  	width: 100%;
  }

  .columns > div:first-child {
  	margin-right: 0px;
    margin-bottom: 40px;
  }
}

.sample {
  font-weight: normal;
}

.input-field {
  position: relative;
}

.input-field label {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 12px;
  color: #424242;
}

.input-field label.with-checkbox {
  top: -18px;
}

.input-field input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  margin: 12px 0 20px 0;
  padding-top: 4px;
  padding-bottom: 5px;  /* so that the 2px focused border doesn't jump */
  box-shadow: none;
  box-sizing: content-box;
  font-size: 16px;
  min-width: 170px
}

.input-field input:focus {
  border-bottom: 2px solid #3F51B5;
  padding-bottom: 4px;
}

.input-field input:focus + label {
  color: #3F51B5;
}

.input-field .text {
  font-size: 12px;
}

.output {
  position: relative;
  min-height: 20px;
}

.overlap-font {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

footer {
  margin-top: 50px;
  padding-top: 8px;
  border-top: 2px solid #fde100;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  padding-right: 6px;
}

hr {
  background: red;
}
