body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  margin: 0;
}


.container {
  max-width: 700px;
  margin: 40px auto 0 auto;
  padding: 20px;
}

p {
  color: #434242;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.8em;
}

a:link, a:visited, button.actionButton {
  color: #3F51B5;
  text-decoration: none;
  padding-bottom: 5px;
  padding-top: 5px;
}

a:hover, button.actionButton:hover {
  background-color: #fde100;
  border-radius: 3px;
  text-decoration: none;
}

h1 {
  color: black;
  background-color: #fff200;
  display: inline-block;
  letter-spacing: -1px;
  margin: 0;
  line-height: 20px;
  padding: 20px 20px 0 20px;
  margin-bottom: 40px;
  font-size: 50px;
}

h2 {
  color: black;
  background-color: #fff200;
  display: inline-block;
  letter-spacing: -1px;
  margin: 0;
  line-height: 10px;
  padding: 10px 10px 0 10px;
  margin-bottom: 20px;
  font-size: 30px;
}

.columns {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
  margin: 24px 0;
}

.columns > div {
	width: 50%;
}

.columns > div:first-child {
	margin-right: 20px;
}

@media (max-width: 500px) {
  .container {
    max-width: 700px;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
  }

  h1 {
    font-size: 8.8vw;
    line-height: 3.5vw;
    margin-bottom: 20px;
  }

  .columns {
    display: block;
    margin: 0;
  }

  .columns > div {
  	width: 100%;
  }

  .columns > div:first-child {
  	margin-right: 0px;
    margin-bottom: 40px;
  }

  .columns > div:last-child {
    margin-bottom: 40px;
  }

  #webfont, #fallback {
    margin: 0;
  }
}

.sample {
  font-weight: normal;
}

.input-field {
  position: relative;
}

.input-field label {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 14px;
  color: #424242;
}

.input-field input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  margin: 12px 0 60px 0;
  padding-top: 4px;
  padding-bottom: 5px;  /* so that the 2px focused border doesn't jump */
  box-shadow: none;
  box-sizing: content-box;
  font-size: 18px;
  min-width: 170px;
  width: 100%;
  max-width: 400px;
}

.input-field input.with-checkbox {
  margin-bottom: 0px;
}

.input-field input[type="checkbox"] {
  width: auto;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  min-width: 0;
}

.input-field input[type="range"] {
  -webkit-appearance: none;
  background: #3F51B5;
  padding: 0;
  margin-bottom: 8px;
  height: 2px;
  outline: none;
  margin: 24px 0 30px 0;
  border: none;
  outline: none;
}

::-moz-range-track {
  background: #3F51B5;
  border: 0;
  outline: none;
}

.input-field input:focus + label {
  color: #3F51B5;
}

.input-field input[type=text]:focus {
  border-bottom: 2px solid #3F51B5;
  padding-bottom: 4px;
}

.input-field .text {
  font-size: 14px;
}

.output {
  position: relative;
  min-height: 20px;
}

.overlap-font {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

footer {
  margin-top: 50px;
  padding-top: 8px;
  border-top: 2px solid #fde100;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
}

hr {
  background: red;
}

.actionButton {
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  padding: 0;
}

.actionButton svg {
  vertical-align: middle;
  fill: #3F51B5;
  width: 24px;
  height: 24px;
}

.uploadFont {
  display: none;
}

.dropAlert {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 13vmin;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
